.buttons {
  height: auto;
  margin: 10px 0px;
  padding: 5px;
  background-color: #4c5eaf;
  
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;

  border-radius: 10px;
}

button {
  margin: 5px;
  padding: 0px 10px;
  flex: 0 1 auto;
  

}