.wrapper {
  padding-top: 50px;
  background: #ECEFF1;
  height: 100%;
  padding: 10px 50px;

  display: flex;
  flex-flow: column;
  justify-content: space-between;
  align-content: flex-start; 
  align-items: stretch;
  overflow: auto;
}

/* .wrapper * {
 max-width: 80%;
} */
