* {
  box-sizing: border-box;
  font-family: sans-serif;
}

html, body, #root {
  padding: 0;
  margin: 0;
  height: 100%;
}
.wrapper {
  padding-top: 50px;
  background: #ECEFF1;
  height: 100%;
  padding: 10px 40px;

  display: flex;
  flex-flow: column;
  justify-content: space-between;
  align-content: flex-start; 
  align-items: stretch;
  overflow: auto;
}

/* .wrapper * {
 max-width: 80%;
} */
